body {
  background-color: #122033;
}

h1,
h2,
p,
label {
  color: #f5f5f5; /* Garantindo que h1, h2 e p sejam brancos */
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3px;
}

#result p strong,
#investment-result p strong {
  border-bottom: 2px solid #fd6f37;
}

#calculate-retirement {
  background-color: #fd6f37;
  font-weight: 600;
  font-size: 1.2rem;
}

#calcular {
  background-color: #fd6f37;
  font-weight: 600;
  font-size: larger;
}

#details_container {
  color: #f5f5f5;
  font-family: "Inter";
  font-weight: 500;
}

#details_container_button {
  background-color: #f5f5f5;
  color: #192f4d;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.accordion-button {
  cursor: pointer;
}

.accordion-content {
  display: none;
}

.accordion-content.show {
  display: block;
}

input {
  font-family: "Montserrat";
  font-weight: 500;
}

input::placeholder {
  color: rgba(51, 51, 51, 0.76);
}

#result {
  background-color: #192f4d;
}

#investment-result {
  background-color: #192f4d;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

label {
  font-weight: 500;
  letter-spacing: 0.3px;
}

/* Centraliza o conteúdo da tabela */
.table-auto th,
.table-auto td {
  vertical-align: middle;
  text-align: center;
  padding: 8px;
  white-space: nowrap;
}

.table-auto th {
  background-color: #2a4365;
  color: #f5f5f5;
}

.table-auto td {
  background-color: #1a2c4d;
  color: #f5f5f5;
}

@media (max-width: 640px) {
  .table-auto th,
  .table-auto td {
    padding: 4px;
    font-size: 0.75rem;
  }
}

.chart-container {
  width: 100%;
  margin: 0 auto;
}

.download-button {
  font-family: "Inter", sans-serif;
  background-color: #fd6f37;
  color: white;
  padding: 3px 7px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #e65c25;
}

/* Feedback messages */
.success-message {
  color: #28a745;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.error-message {
  color: #dc3545;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* Animations */
#result.show,
#details_container.show {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion-content.show {
  display: block;
  animation: slideDown 0.5s forwards;
}

.accordion-content.hide {
  animation: slideUp 0.5s forwards;
  max-height: 0;
  opacity: 0;
  display: none; /* Esconde o conteúdo após a animação */
}

@keyframes slideUp {
  from {
    max-height: 1000px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

/* Responsiveness */
.chart-container {
  position: relative;
  height: 40vh;
  width: 100%;
}

@media (max-width: 768px) {
  .chart-container {
    height: 50vh;
  }

  .table-auto th,
  .table-auto td {
    padding: 8px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .chart-container {
    height: 60vh;
  }

  .table-auto th,
  .table-auto td {
    vertical-align: middle;
    text-align: center;
    padding: 6px;
    font-size: 10px;
  }

  /* Increase the size of the table on mobile */
  .table-auto th,
  .table-auto td {
    font-size: 14px;
    padding: 10px;
  }
}

/* UI Improvements */
.icon {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

/* Estiliza ícones dentro dos campos de entrada */
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #dddddd;
  overflow: hidden; /* Adicionado para garantir que os elementos não ultrapassem a div */
}

.input-icon {
  color: #6d6d6d;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
}

input[type="text"].currency-input,
input[type="number"] {
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 10px;
  border-radius: 0;
  height: 100%;
}

select {
  padding: 13px;
  font-family: "Inter", sans-serif;
  background: transparent; /* Fundo transparente */
  color: #585858;
  height: 100%;
  border-radius: 6px;
  border: none;
  outline: none;
}

.accordion-content.show + #chart-wrapper {
  margin-top: 20px; /* Espaçamento entre a tabela de detalhes e o gráfico */
}

.result-block-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border-left: 2px solid #fd6f37;
  padding-left: 10px;
}

.result-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-block .icon {
  font-size: 24px; /* Tamanho do ícone */
}

.result-block p {
  text-align: center;
  font-size: 14px; /* Tamanho do label */
}

.result-block strong {
  text-align: center;
  font-size: 1.5rem; /* Tamanho do resultado */
}

@media (max-width: 768px) {
  .result-block-container {
    flex-direction: column;
    border-left: none;
  }

  .result-block-container {
    display: flex;
    gap: 1.5rem;
  }

  .result-block p {
    text-align: center;
    font-size: 18px; /* Tamanho do label */
  }
}
